* {
    font-family: "Lato", sans-serif;
}

h1 {
    color: #333;
    font-weight: bold;
}

a {
    text-decoration: none;
}

button {
    background-color: #1f618d;
    padding: 0.7rem 1.3rem;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    font-weight: 700;
    border-radius: 50px;
    cursor: pointer;
}

button:hover {
    background-color: #154360;
}

.container {
    height: 100vh;
    width: 33vw;
    margin: 60px auto;
}

label {
    font-weight: bold;
}

.form-control {
    margin: 1.3rem 0;
}

input[type="text"],
textarea {
    display: block;
    margin: 0.5rem 0;
    padding: 1rem 0.5rem;
    width: 100%;
}

input[type="text"],
input[type="checkbox"],
textarea {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #333;
    border-radius: 3px;
}

form + a {
    margin-top: 1rem;
}

.todos-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem 0;
    font-size: 1.1rem;
}

.todo-item a:hover {
    color: blue;
}

.todo-item .actions a {
    padding-left: 1rem; 
}

.todo-item .actions a:first-child {
    color: blue;
}

.delete-form .actions * {
    margin: 0 1rem 1rem 0;
}

.delete-form .actions .btn-danger {
    background-color: darkred;
}

.todo-item .actions a:nth-child(2) {
    color: darkred;
}

.badge {
    background-color: green;
    color: white;
    padding: 0.2rem 1rem;
    border-radius: 5px;
}

.badge * {
    padding: 0 0.2rem;
}